$mainColor: #2EA690;
//#E8E2DB;

$secondaryColor:#BABFBE;

$width: 780px;
$tabWidth: 1100px;
$deskTop: 1489px;


@mixin mobile {
    @media (max-width: $width){
        @content
    }
}

@mixin tablet {
    @media (max-width: $tabWidth){
        @content
    }
}

@mixin desk{
    @media (min-width: $deskTop){
        @content
    }
}