// $mainColor: #1D5C63;
$mainColor: #74959A;
// $mainColor: #A0BCC2;
// $mainColor: #97C4B8;

$secondaryColor:#BABFBE;

$width: 780px;
$tabWidth: 1100px;
$deskTop: 1489px;


@mixin mobile {
    @media (max-width: $width){
        @content
    }
}

@mixin tablet {
    @media (max-width: $tabWidth){
        @content
    }
}

@mixin desk{
    @media (min-width: $deskTop){
        @content
    }
}